.navbar-light .navbar-nav .nav-link{
    color: #505050;
    font-weight: bold;
}

.h2{
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    font-weight: bold;
}

.card{
    width: 24rem;
}

.card-title{
    font-weight: bold;
    color: #505050;
}