.navbar-light .navbar-nav .nav-link{
    color: #505050;
    font-weight: bold;
}

.h2{
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    font-weight: bold;
}

.card{
    width: 18rem;
}

.card-title{
    font-weight: bold;
    color: #505050;
}

.footer{
    background: url(../img/footer.jpg);
    background-size: cover;
}

.form-group {
    color: #2b2b2b;
    font-weight: bold;
}