.navbar-light .navbar-nav .nav-link{
    color: #505050;
    font-weight: bold;
}

.h2{
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    font-weight: bold;
}

.h4{
    text-align: center;
    color: #505050;
}

.card{
    /*width: 18rem;*/
}

.card-title{
    font-weight: bold;
    color: #505050;
}

.footer{
    background: url(../img/footer.jpg);
    background-size: cover;
}

.form-group {
    color: #2b2b2b;
    font-weight: bold;
}

.footer .list-item-footer{
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .list-link-footer{
    color: #505050;
}

.footer .menu-footer{
    margin-top: 8em;
}

@media screen and (max-width: 575px) {
    .footer .list-link-footer{
        color: white;
    }

    .footer .menu-footer{
        margin-top: 5px;
    }
}